* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin: 1rem auto;
}

img {
    width: 5rem;
}

h3 {
    margin-top: .75rem;
}

input {
    padding: .25rem;
}

button {
    padding: .25rem;
}